[Desktop Entry]
Version=2.4.0
Type=Application
Name=ArkIDE
GenericName=IDE
Comment=The completely offline desktop version of ArkIDE
Exec=arkide-wrapper
Icon=com.arkide.desktop
Categories=Development;IDE;TextEditor;
Terminal=false
StartupNotify=true
StartupWMClass=ark-ide